* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  background-color: #FFF;
  color: #000;
}

img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 800;
  font-size: 60px;
}

h2 {
  font-weight: 800;
  font-size: 52px;
}

h3 {
  font-weight: 700;
  font-size: 46px;
}

h4 {
  font-weight: 700;
  font-size: 36px;
}

h5 {
  font-weight: 600;
  font-size: 24px;
}

h6 {
  font-weight: 600;
  font-size: 16px;
}

p {
  font-weight: 400;
  font-size: 0.9rem;
}

.section {
  padding-top: 3rem;
  padding-bottom: 0;
}

.flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-strecht {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-end {
  justify-content: flex-end;
}

.row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.column-reverse {
  flex-direction: column-reverse;
}

.wrap {
  flex-wrap: wrap;
}

.nowrap {
  flex-wrap: nowrap;
}

.wrap-reverse {
  flex-wrap: wrap-reverse;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 1rem;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  row-gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 8px 0px;
  gap: 8px;
  background-color: #FDFDFD;
  border-radius: 12px;
  width: 280px;
  height: 378px;
  left: 130px;
  top: 150px;
  box-shadow: 0px 4px 28px -2px rgba(0, 0, 0, 0.08);
}

.button {
  all: unset;
  display: inline-block;
  background-color: #003459;
  color: #FDFDFD;
  border-radius: 57px;
  width: 203px;
  height: 44px;
  text-align: center;
}
.button:hover {
  opacity: 0.9;
}
.button:active {
  opacity: 0.7;
}

.button2 {
  all: unset;
  display: inline-block;
  color: #003459;
  border: 2px solid #003459;
  border-radius: 57px;
  width: 201px;
  height: 42px;
  text-align: center;
}
.button2:hover {
  opacity: 0.9;
  color: #99A2A5;
}
.button2:active {
  opacity: 0.7;
}

.product-btn {
  all: unset;
  background: #FCEED5;
  display: inline-block;
  color: #003459;
  border: 2px solid #003459;
  border-radius: 8px;
  width: 250px;
  height: 50px;
  text-align: center;
}
.product-btn:hover {
  opacity: 0.9;
}
.product-btn:active {
  opacity: 0.7;
}

.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  min-width: 40px;
  position: absolute;
  top: 100%;
  right: 0;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  visibility: hidden;
  background-color: #FFF;
  border-radius: 5px;
}
.dropdown .dropdown-menu ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.dropdown .dropdown-menu li {
  padding: 0.5rem 1rem;
  transition: all 0.5s ease-in-out;
}
.dropdown .dropdown-menu li:hover {
  color: #0f0;
  text-rendering: 0.5rem;
}
.dropdown:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

input[type=checkbox]:checked + .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

header#main-header {
  background-color: #F7DBA7;
  color: #003459;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1em;
  padding-bottom: 0;
}
header#main-header .logo {
  margin: 1rem 0;
  width: 115px;
  height: 40px;
}
header#main-header .logo span {
  display: inline-block;
  margin-left: 1rem;
}

header#main-header ul {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.search {
  background-color: #FDFDFD;
  color: #99A2A5;
  border-radius: 46px;
  width: 280px;
  height: 44px;
  text-align: left;
  padding-left: 1rem;
}

.dropdown {
  display: inline-block;
}

.intro {
  background-color: #F7DBA7;
  border-radius: 0 0 40px 40px;
  padding-top: 50px;
  height: 675px;
}

.intro-showcase {
  position: absolute;
  color: #002A48;
  width: 540px;
  text-align: justify;
  padding-top: 50px;
}

.intro-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro-btn {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.intro-img {
  position: absolute;
  width: 944px;
  height: 695px;
  left: 530px;
  top: 84px;
}

section#whats-new {
  color: #000;
  padding-top: 50px;
  padding-left: 130px;
}

.new {
  padding-top: 60px;
  padding-bottom: 36px;
  -moz-column-gap: 620px;
       column-gap: 620px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.new-h {
  color: #003459;
}

.new-btn {
  text-align: center;
}

.new-p {
  color: #667479;
}

section#explore {
  color: #000;
  padding-top: 50px;
  padding-left: 130px;
}

.explore {
  background-color: #F7DBA7;
  width: 1200px;
  height: 380px;
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 36px;
  -moz-column-gap: 620px;
       column-gap: 620px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.explore-img {
  position: absolute;
  left: 150px;
}

.explore-head {
  color: #003459;
  padding-bottom: 36px;
}

.explore-content {
  width: 540px;
  text-align: right;
  left: 700px;
}

section#products {
  color: #000;
  padding-top: 50px;
  padding-left: 130px;
}

.product {
  padding-top: 60px;
  padding-bottom: 36px;
  -moz-column-gap: 620px;
       column-gap: 620px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

section#partners {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 130px;
  gap: 15px;
}

#partners ul {
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

@media (max-width: 1200px) {
  .container {
    width: 960px -20px;
  }
}
@media (max-width: 960px) {
  .container {
    width: 560px;
  }
}
@media (max-width: 580px) {
  .container {
    width: 100%;
    padding-inline: 1rem;
  }
}/*# sourceMappingURL=main.css.map */