//PRIMARY

$darkblue:  #003459;
$darkblue1: #0078CD;
$darkblue2: #0078CD;
$darkblue3: #002A48;

//SECONDARY

$monyellow:  #F7DBA7;
$monyellow1: #FCEED5;
$monyellow2: #F1D092;
$monyellow3: #EEC77E;

//SHADES

$natural:  #00171F;
$natural1: #242B33;
$natural2: #667479;
$natural3: #99A2A5;
$natural4: #CCD1D2;
$natural5: #CCD1D2;
$natural6: #FDFDFD;

//STATE

$pinkred:     #FF564F;
$greenlight:  #34C759;
$orangeshine: #FF912C;
$bluesea:     #00A7E7;

//MEDIA

$lg: 1200px;
$md: 960px;
$sm: 580px;
$xs: 300px;